body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    position: relative;
    min-height: 100vh;
}

p {
    font-size: 1.2vw;
}

#cabeceraPagina {
    background-color: #1f6f8b;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: "logo navigation";
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
}

#logo {
    grid-area: logo;
    width: 4em;
    height: auto;
    padding: 0.5em 0 0.5em 2em;
    margin: 0.5em;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}


nav {
    grid-area: navigation;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listaNavegacion {
    display: inline;
}

.listaNavegacion a {
    font-size: 1.3vw;
    padding: 1em;
    color: white;
    text-decoration: none;
}
h1 {
    min-height: 20px;
    font-size: 2vw;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #1c2b2d;
}


#areaBoton {
    display: flex;
    justify-content: center;
}

.boton {
    border: none;
    color: white;
    background-color: #1f6f8b;
    border-radius: 10px;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#autenticacion {
    display: inline;
    float: right;
}

.listaNavegacion a:hover {
    text-decoration: none;
    font-weight: bold;
}

#lateral {
    float: right;
    width: 18em;
    height: 100%;
    border-left: 0.5em solid #1f6f8b;
    /*box-shadow: 0 8px 6px -6px black;*/
    padding: 0 1em 0 1em;
    margin: 1em 1.1em 0 0.5em;
    height: 100%;
}

#contenidoInicio {
    padding-bottom: 3.5rem;
    margin-right: 22em;
    margin-left: 2em;
}

#presentacion {
    /*border: 1px solid #2196F3;*/
    padding: 1em;
    margin-right: 0.5em;
    /*border-radius: 10px;*/
}

#ultimosCanales {
    /*border: 1px solid #2196F3;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
    margin: 2em 0 4em 0;
}

.infoGraficaCanal {
    position: relative;
    margin: auto;
    height: 30vh;
    width: 30vw;
}

#ultimosCanales h2 {
    margin-left: 1em;
}

#graficas {
    display: flex;
    justify-content: space-evenly;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

#piePagina {
    clear: right;
    background-color: #1f6f8b;
    display: flex;
    justify-content: space-between;
}

#piePagina p {
    font-size: medium;
    color: white;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pagCanales {
    width: 70%;
}

#listadoCanales {
    margin: 1em 0;
}
#tituloListaCanales {
    font-size: medium;
    background-color: #1c2b2d;
    color: white;
    padding: 0.5em;
}

.infoCanal {
    border: 3px solid #1c2b2d;
    padding: 0.5em 1em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-areas: "texto iconoBorrar";
}

.iconoBorrar {
    grid-area: iconoBorrar;
}

.iconoBorrar:hover {
    width: 2em;
    shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.textoCanal {
    grid-area: texto;
    grid-area: texto;
}

/* ESTILO FORMULARIOS */

.iconoUsuario {
    margin-top: 1em;
    width: 3em;
    height: auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .4);
    border-radius: 50%;
    padding: 0.5em;
}

#formularioRegistro {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: none;
}

td {
    padding: 0.5em;
    text-align: end;
}

td input {
    width: 100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

#areaBotonLogin {
    display: flex;
    justify-content: center;
}

#infoAyuda {
    text-align: left;
    padding: 0em 3em;
}

#infoAyuda article {
    padding: 1em 1em;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 100%;
    border-radius: 10px;
    padding: 0.5em;
}

#imgContacto {
    width: 100%;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

#paginasCanales {
    margin-bottom: 6em;
    display: flex;
    justify-content: center;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}


#paginasCanales a {
    text-decoration: none;
    padding: 8px 16px;
    margin: 0px 5px;
    color: inherit;
}

#paginasCanales a:hover {
    background-color: #ddd;
    color: black;
}

.chart_container {
    margin: 0 auto;
    position: relative;
    height: auto;
    width: 80%;
}

.canal {
    border-left: 0.5em solid #1f6f8b;
    margin: 2em 2em 2em 4em;
    padding: 0.3em 2em
}




