body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2vw;
}

#cabeceraPagina {
    background-color: #1f6f8b;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: "logo navigation";
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
}

#logo {
    grid-area: logo;
    width: 4em;
    height: auto;
    padding: 0.5em 0 0.5em 2em;
    margin: 0.5em;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}


nav {
    grid-area: navigation;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listaNavegacion {
    display: inline;
}

.listaNavegacion a {
    font-size: 1.3vw;
    padding: 1em;
    color: white;
    text-decoration: none;
}
h1 {
    min-height: 20px;
    font-size: 2vw;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #1c2b2d;
}


#areaBoton {
    display: flex;
    justify-content: center;
}

.boton {
    border: none;
    color: white;
    background-color: #1f6f8b;
    border-radius: 10px;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#autenticacion {
    display: inline;
    float: right;
}

.listaNavegacion a:hover {
    text-decoration: none;
    font-weight: bold;
}

#lateral {
    float: right;
    width: 18em;
    height: 100%;
    border-left: 0.5em solid #1f6f8b;
    /*box-shadow: 0 8px 6px -6px black;*/
    padding: 0 1em 0 1em;
    margin: 1em 1.1em 0 0.5em;
    height: 100%;
}

#contenidoInicio {
    padding-bottom: 3.5rem;
    margin-right: 22em;
    margin-left: 2em;
}

#presentacion {
    /*border: 1px solid #2196F3;*/
    padding: 1em;
    margin-right: 0.5em;
    /*border-radius: 10px;*/
}

#ultimosCanales {
    /*border: 1px solid #2196F3;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
    margin: 2em 0 4em 0;
}

.infoGraficaCanal {
    position: relative;
    margin: auto;
    height: 30vh;
    width: 30vw;
}

#ultimosCanales h2 {
    margin-left: 1em;
}

#graficas {
    display: flex;
    justify-content: space-evenly;
}

#coordenadas-grafica td{
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

#piePagina {
    clear: right;
    background-color: #1f6f8b;
    display: flex;
    justify-content: space-between;
}

#github-footer {
    line-height: 0;
}

#piePagina p {
    font-size: medium;
    color: white;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pagCanales {
    width: 70%;
}

#listadoCanales {
    margin: 1em 0;
}
#tituloListaCanales {
    font-size: medium;
    background-color: #1c2b2d;
    color: white;
    padding: 0.5em;
}

.infoCanal {
    border: 3px solid #1c2b2d;
    padding: 0.5em 1em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-areas: "texto iconoBorrar";
}

.iconoBorrar {
    grid-area: iconoBorrar;
}

.iconoBorrar:hover {
    width: 2em;
    shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.textoCanal {
    grid-area: texto;
    grid-area: texto;
}

/* ESTILO FORMULARIOS */

.iconoUsuario {
    margin-top: 1em;
    width: 3em;
    height: auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .4);
    border-radius: 50%;
    padding: 0.5em;
}

#formularioRegistro {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: none;
}

td {
    padding: 0.5em;
    text-align: end;
}

td input {
    width: 100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

#areaBotonLogin {
    display: flex;
    justify-content: center;
}

#infoAyuda {
    text-align: left;
    padding: 0em 3em;
}

#infoAyuda article {
    padding: 1em 1em;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 100%;
    border-radius: 10px;
    padding: 0.5em;
}

#imgContacto {
    width: 100%;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

#paginasCanales {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}


#paginasCanales a {
    text-decoration: none;
    padding: 8px 16px;
    margin: 0px 5px;
    color: inherit;
}

#paginasCanales a:hover {
    background-color: #ddd;
    color: black;
}

.chart_container {
    margin: 0 auto;
    position: relative;
    height: auto;
    width: 80%;
}

.canal {
    border-left: 0.5em solid #1f6f8b;
    margin: 2em 2em 2em 4em;
    padding: 0.3em 2em
}


/* TIENDA */

#contenidoTienda {
    margin: 2em 4em 0em 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.4fr;
    grid-auto-rows: minmax(100px, auto);
}

.infoTienda {
    padding: 0 2em;
    border-left: 0.5em solid #1f6f8b;
    grid-column: 1 / 3;
    grid-row: 1;
}

.contenedor-carrito {
    margin-left: 3em;
    grid-column: 3;
    grid-row: 1;
}

.lista-productos {
    display: flex;
    flex-direction: row;
}

#pricing-tables {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.pricing-table {
    max-width: 300px;
    width: 100%;
    margin: 5px 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.imagenProducto {
    width: 200px;
    height: auto;
    padding: 0 0.5em 0.5em 1em;

}

.title {
    text-align: center;
    padding: 15px 0;
    background: #1f6f8b;
    color: #FFFF;
    font-size: 16px;
}

.price {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    background: #f6f6f6;
    color: #000;
    font-size: 28px;
    font-weight: 300;
}

.features {
    background: #fff;
}

.features ul {
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

.signup {
    background: #fff;
    padding: 2px 0 25px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.signup a {
    width: auto;
    margin: 2em auto 0 auto;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    color: #1f6f8b;
    border: 1px solid #1f6f8b;
    transition: all .2s ease;
}

.signup a:hover {
    color: #FFFFFF;
    background-color: #1f6f8b;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.features li {
    padding: 8px 5px;
    text-align: center;
}

.contenedor-productos {
    margin: 2em auto;
    margin-bottom: 4em;
    grid-row: 2 / 4;
    grid-column: 1 / 4;
}

.contenedor-carrito {
    padding: 1em;
    align-items: center;
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
}

#carrito {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor-carrito img {
    width: 3em;
    height: auto;
}

#elementos-carrito {
    background-color: #ffca28;
    padding: 1em;
    border-radius: 40%;
    margin: 1em;
}

.botonCheckout {
    border-color: #1f6f8b;
    color: #1f6f8b;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* transition */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.botonCheckout span {
    text-decoration: none;
    margin-left: 5px;
}

.botonCheckout img {
    width: 30px;
    height: auto;
}







